<div class="text-center">
<table border="1" class="dataframe" margin : auto;>
  <thead>
    <tr style="text-align: center; ">
      <th></th>s
      <th>호텔</th>
      <th>펜션</th>
      <th>주택</th>
      <th>아파트</th>
      <th>레지던스</th>
      <th>게스트</th>
      <th>개인실</th>
      <th>호스텔</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>빈도</th>
      <td>35</td>
      <td>77</td>
      <td>159</td>
      <td>134</td>
      <td>66</td>
      <td>49</td>
      <td>77</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>
